.card {
    margin-top: 100px;

    &__content {
        @include d-flex;
        gap: 32px;

        p {
            font-family: Satoshi;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0%;
            margin-top: 15px;

        }

        span {
            font-family: Satoshi;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0%;
        }
    }

    button {
       
        border: none;
        background-color: var(--main-color);
        text-align: center;
        font-family: Satoshi;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        color: var(--text-color);
        @include d-flex;
        margin: 0 auto;
         margin-top: 80px;
         &:hover{
          cursor: pointer;
         }
    }
}