.fatures {
    margin-top: 100px;

    &__content {
        @include d-flex;
        gap: 32px;

        @media (max-width: 500px) {
            flex-direction: column;
            img {
                width: 342px;
            }
        }

        &-text {
            background-color: var(--text-color);
            width: 634px;
            height: 478px;
            padding: 64px 64px;

            @media (max-width: 500px) {
                width: 342px;
                height: 281px;
                padding: 36px 32px;
            }

            h6 {
                font-family: satoshi;
                font-weight: 400;
                font-style: Regular;
                font-size: 32px;
                line-height: 100%;
                letter-spacing: 0%;
                color: var(--main-color);
                @media(max-width: 500px) {
                    font-size: 20px;
                    max-width: 260px;
                }
            }

            p {
                font-family: Satoshi;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                color: var(--main-color);
                margin-top: 20px;
                max-width: 495px;
                  @media(max-width: 500px) {
                    font-size: 14px;
                    max-width: 278px;
                }

            }

            button {
                width: 170px;
                height: 56px;
                gap: 10px;
                padding-top: 16px;
                padding-right: 32px;
                padding-bottom: 16px;
                padding-left: 32px;
                background-color: #F9F9F926;
                border: none;
                color: var(--main-color);
                margin-top: 230px;
                @media (max-width: 500px) {
                   width: 270px;
                   height: 56px;
                    @include d-flex;
                    margin: 0 auto;
                     margin-top: 70px;
                }

                &:hover {
                    cursor: pointer;

                }
            }
        }
    }
}