.header {

    &__nav {
        @include d-flex;
        justify-content: space-between;

        .shop-cart {
            display: none
        }
        .user {
            display: none
        }
    .search{
        display: none
    }

    }

    &__menu {
        @include d-flex;
        gap: 44px;
        margin-top: 50px;
        border-top: 1px solid #0000001A;
        padding: 20px;

        @media (max-width: 500px) {
            display: none;
        }

        a {
            color: var(--menu-color);
            font-family: Satoshi;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;

        }
    }

    .menu {
        display: none;
    }
    .search2 {
        display: none;
    }
    @media (max-width: 500px) {
        .menu {
            display: inline-block;
        }
        .search2 {
            display: inline-block;
            
        }
    }
}